/build/

/target/

/WebContent/Client/

/WebContent/bootstrap.css
/WebContent/bundle.css
/WebContent/index.html
/WebContent/index.js
/WebContent/index.js.map
/WebContent/templates.js
Client/app/protobufs/fakeDir/
WebContent/vendor.js
WebContent/vendor.js.map
