
<div class="panel panel-default">
  <div class="panel-heading">
    Transactions
  </div>
  <div class="panel-body" ng-if='vm.list.loading'>
    Loading...
  </div>
  <div class="panel-body" ng-if='!vm.list.transactions.length && !vm.list.loading'>
    No Transactions to display.
  </div>
  <table class="table transactions" ng-if='vm.list.transactions.length'>
    <thead>
      <tr>
        <th>Date</th>
        <th>$</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in vm.list.transactions">
        <td class='date'>
            <span ng-bind="vm.getDateString(transaction.date.toNumber())">
            </span>
        </td>
        <td class='dollars'>
          <span class="label label-dollars"
                ng-class="{'label-success' : transaction.cents > 0, 'label-danger' : transaction.cents < 0 }"
                ng-bind="vm.getDollarsString(transaction.cents*0.01)">
          </span>
        </td>
        <td>
          <span ng-if="!vm.editable"
                ng-bind="transaction.description"></span>
          <input ng-if="vm.editable" class="form-control" type="text"
                ng-model="transaction.description"/>
        </td>
      </tr>
    </tbody>

  </table>
</div>
